<p id="notice"><%= notice %></p>
<h3><%= @account.name %> </h3>
<hr />
<div>
  <%= address_block @account.primary_address %>
</div>
<hr />
<div>
  <h4>Users</h4>
  <% @account.users.each do |user| %>
    <%= user.username %><br />
  <% end %>
</div>
<hr />
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
